*{
				margin:0;
				padding:0;
			}
			body{
				background:black;
				font-family:Calibri;
			}
			p{
				font-size:18px;
				color:white;
				margin-left:10px;
			}
			p:first-child{
				margin-top:20px;
			}
			a{
				text-decoration:none;
				color:red;
			}